/*Project List Styles*/

#projectSelect {
    z-index: 10; /* or any number that's higher than the elements it's behind */
    /* Add other styling properties as necessary */
}

.project-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 3px 10px 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    
}

.projects-heading {
    margin: 0;
    font-size: 24px;
}

.project-controls {
    display: flex;
    gap: 10px;
}

.add-project-button, .toggle-projects-button {
    padding: 5px 10px; 
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-project-button:hover, .toggle-projects-button:hover {
    background-color: #e1e1e1;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.project {
    padding: 2px 10px; 
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
}


/* Project heading*/
.project-content {
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
   
    margin: 5px 0 15px;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    height: auto;
    background-color: #f4f4f4;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.project-title-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    min-width: 150px;
    
}


.project-title-input {
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    min-width: none;
    max-width: 200px;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    
}

.button-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping */
     /* Add margin to give space between rows */
}

.project-title-input:focus {
    border-bottom: 1px solid #000;
    outline: none;
}

.add-task-button, .close-button, .delete-button {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
}

.add-task-button:hover, .delete-button:hover {
    background-color: #ccc;
}

.add-task-button i, .close-button i, .delete-button i {
    font-size: 18px;
}


.add-task-button i {
    color: #28a745;
}

.delete-button i {
    color: #dc3545;
}

.close-button .close-button i {
    color: black;
    /* position: absolute; */
    top: 5px;
    right: 5px;
}

.close-button:hover, .close-button i:hover {
    background-color: #dc3545;
    color: white;
}

/* New Styles for Uniform Plus Button and Toggle Button */
.uniform-plus-button {
    font-size: 24px;
    color: #28a745;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5 px;
}

.uniform-plus-button:hover {
    color: #218838;
}

.toggle-button {
    font-size: 24px;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.toggle-button:hover {
    color: #555;
}

/* Add Project Form Styles */
form.add-project-form {
    display: none; /* Hidden by default */
    margin: 10px 0;
    align-items: center;
   
}

.add-project-form #newProjectName {
    width: calc(100% - 20px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

.project-list-container  .add-project-form .submit-project-button {
    padding: 3px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    margin-right: 0px;
}

.add-project-form button:hover {
    background-color: #0056b3;
}

.nav-button, .project-header-container,  .task-header-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}
.project-list .project {
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    transition: all 0.2s ease-in-out;
}

.nav-button:hover, .project-list .project:hover {
    background-color: #e3f2fd; /* Slight shade over the background color */
    transform: scale(1.01); /* Slight zoom effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly heavier shadow on hover */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .project-header {
        justify-content: space-between;
    }

    .project-title-input {
        font-size: 16px;
        max-width: 150px;
    }

    .add-task-button i, .close-button i, .delete-button i {
        font-size: 16px;
    }

    .button-wrapper {
        flex-grow: 1;
        justify-content: flex-end;
        margin-left: 0;
        margin-top: 5px;
    }

    .add-task-button, .close-button, .delete-button {
        padding: 3px;
        margin: 0 5px;
    }
}