.task {
    padding: 10px 5px ;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.task:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ececec;
}
/* task list*/
.tasks-container  {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    align-items: flex-start; /* Align to top */
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}


/* Tasks element checkbox*/
.task-checkbox {
    appearance: none;
    background-color: fff;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 15px;
}

.task-checkbox:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

.task-checkbox:checked:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}


/* Tasks Header Styles */
.task-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 3px 10px 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tasks-heading {
    margin: 0;
    font-size: 24px;
   
}

.task-controls {
    display: flex;
    gap: 10px;
}

/* Task from styles */
.task-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: flex-end;  /* Align buttons to the right */
    margin-top: 10px;
}

.task-form .submit-button {
    padding: 10px 20px;
}

.task-form input,
.task-form textarea,
.task-form select {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}


.add-task-button:hover {
    background-color: #e1e1e1;
}

/* Task detail styles */


.task-detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}



.task-title {
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 5px 0;
}

span.task-description {
    font-size: .9em;
    margin: 0;
    max-width: 90%;
}


.task-due-date, .task-priority {
    font-size: 0.7em;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 2px;
}

.task .due-date {
    margin-right: 15px;
}

.task-delete {
    margin-left: 20px;
    cursor: pointer;
    color: #ff3333;
}

.delete-container {
    margin-top: 5px; /* Adjust as needed */
}

 .fas.fa-trash-alt {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1rem;
}

.task-right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    width: 150px;
    
}

.task-info-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust the gap between elements as needed */
    margin-right: 3px;
}

/* Ensure buttons and inputs have consistent spacing */
input, textarea, select {
    margin-bottom: 10px;
}
.tasks-container h2 {
    text-align: center;
}

.task-priority {
    font-size: 0.9em;
    font-weight: bold;
}

.task-priority.high, 
.task-priority.high i{
    color: red;
} 

.task-priority.medium {
    color: blue;
}

.task-priority.low {
    color: green;
}

.nav-button .task-counter {
    margin-right: 9px; /* Adjust this value as needed */
}


/* Dark Mode Styles */
.toggle-dark-mode {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #b3cde0;
    color: #34495e;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.2rem; /* Larger icon */
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333; /* Dark background color */
    color: #e0e0e0; /* Light text color */
}

body.dark-mode .sidebar {
    background-color: #444; /* Slightly lighter dark color for sidebar */
}

body.dark-mode .main-content {
    background-color: #312f2f; /* Dark background for main content */
    color: #e0e0e0; /* Light text color */
}

body.dark-mode .tasks-container {
    background-color: #555;
}

body.dark-mode .nav-button {
    background-color: #555;
}
body.dark-mode .task-counter  {
    color: #e0e0e0; /* Light text color for navigation buttons and task counters */
}
body.dark-mode .nav-button  {
    color: #e0e0e0; /* Light text color for navigation buttons and task counters */
}
body.dark-mode .project {
    background-color: #555;
    color: #e0e0e0;
}
body.dark-mode .project:hover {
    background-color: #666;
    color: #e0e0e0;
}

body.dark-mode .nav-button:hover {
    background-color: #666; /* Darker hover color for nav buttons */
}

.dark-mode .project-controls button,
.dark-mode .task-controls button,
.dark-mode .modal-footer button,
.dark-mode .submit-button {
    background-color: #444; /* Darker button background */
    color: #fff; /* Lighter button text */
}
.dark-mode .project-controls button:hover,
.dark-mode .task-controls button:hover,
.dark-mode .modal-footer button:hover,
.dark-mode .submit-button:hover {
    background-color: #555; /* Even darker on hover */
}
body.dark-mode .project-content,
body.dark-mode .project-header,
body.dark-mode .project-title-input {
    background-color: #333; /* Slightly lighter dark color for header containers */
    color: #e0e0e0;
    
}
body.dark-mode .project-content{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

body.dark-mode  .close-button i {
    background-color: transparent;
    color: #e0e0e0;
}

body.dark-mode  button.close-button:hover {
    background-color: #dc3545;
}
body.dark-mode .task-header-container,
body.dark-mode .project-header-container {
    background-color: #333; /* Slightly lighter dark color for header containers */
    color: #e0e0e0; /* Light text color for headers */
    border: none;
}

/* Modal dark mode rules */
body.dark-mode .modal-content,
body.dark-mode .form-container {
    background-color: #312f2f;
}
body.dark-mode  .modal-content input,
body.dark-mode  .form-container input,
body.dark-mode .modal-content textarea,
body.dark-mode .form-container textarea,
body.dark-mode .modal-content select,
body.dark-mode .form-container select {
    background-color: #555 ;
    color: #e0e0e0 ;
}



body.dark-mode .task {
    background-color: #444; /* Dark background for tasks */
    color: #e0e0e0; /* Light text color for tasks */
}

body.dark-mode .task:hover {
    background-color: #555; /* Darker hover color for tasks */
}

body.dark-mode .uniform-plus-button {
    background-color: #333;
    color: #218838;
}
body.dark-mode .burger-menu {
    background-color: #333;
}

body.dark-mode .close-modal {
    color: #e0e0e0;
}

body.dark-mode .toggle-dark-mode,
body.dark-mode .toggle-button{
    background-color: #333; /* Dark background for buttons */
    color: #e0e0e0; /* Light text/icon color for buttons */
}

body.dark-mode .burger-menu i {
    color: #e0e0e0 ;
}
body.dark-mode .toggle-button:hover {
    background-color: #444;
}
body.dark-mode .uniform-plus-button:hover {
    background-color: #444;
    color: #218838;
}
body.dark-mode .toggle-dark-mode:hover,
body.dark-mode .burger-menu:hover {
    background-color: #666; /* Darker hover color for buttons */
}

body.dark-mode .button-wrapper button.add-task-button:hover,
body.dark-mode .button-wrapper button.delete-button:hover {
    background-color: #666 ;
}
